{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": ["wp-content/themes/**/*.js", "wp-content/themes/**/*.scss"],
      "options": {
        "semi": true,
        "singleQuote": true,
        "printWidth": 115,
        "tabWidth": 2
      }
    },
    {
      "files": ["wp-content/plugins/**/*.js", "wp-content/plugins/**/*.scss"],
      "options": {
        "semi": true,
        "singleQuote": true,
        "printWidth": 115,
        "tabWidth": 2
      }
    },
    {
      "files": ["wp-content/themes/styles/*.js"],
      "options": {
        "semi": true,
        "singleQuote": false,
        "printWidth": 150,
        "tabWidth": 2
      }
    },
    {
      "files": ["wp-content/plugins/styles/*.js"],
      "options": {
        "semi": true,
        "singleQuote": false,
        "printWidth": 150,
        "tabWidth": 2
      }
    }
  ]
}
